{% extends 'base.html' %}

{% block title %}Raahi | Hotels{% endblock %}

{% block content %}

<div style="background-image: url('https://media.istockphoto.com/vectors/dark-blue-gradient-background-modern-look-vector-id1174818917?k=6&m=1174818917&s=170667a&w=0&h=_lsiNqZfUBgGOhvJnLl7t6MW7ZWx8YkGhsk7hftOiG4='); ; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
  
      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4">
          <strong></strong>
        </h1>
  
        <p class="mb-4 d-none d-md-block">
          <strong>Book {{hotel.hotel_name}}</strong>
        </p>
  
      </div>
      <!-- Content -->
  
    </div>
    <!-- Mask & flexbox options-->
  
  </div>
  </div>

<main>
<div class="container">
    <center><h3 style="margin-top: 2%; margin-bottom: 4%">{{hotel.hotel_name}}</h3></center>

    <div class="row wow fadeIn">
        
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-map-marker-alt fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">{{hotel.hotel_city}}</h5>
              <p class="grey-text">{{hotel.hotel_address}}.</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-star fa-2x" style="color: gold;"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">{{hotel.hotel_star}} Star</h5>

            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-building fa-2x" style="color:mediumseagreen;"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Facilities</h5>
              <p class="grey-text">
                  {% if hotel.hotel_restaurant %}<i class="fas fa-utensils"></i> In-house Restaurant<br>{% endif %} 
                  {% if hotel.hotel_spa %}<i class="fas fa-spa"></i> Spa<br>{% endif %} 
                  {% if hotel.hotel_giftshop %}<i class="fas fa-gifts"></i> Gift Shop<br>{% endif %} 
                  {% if hotel.hotel_wifi %}<i class="fas fa-wifi"></i> Wifi<br>{% endif %} 
                  {% if hotel.hotel_parking %}<i class="fas fa-car"></i> Car Parking Available<br></li>{% endif %} 
                  {% if hotel.hotel_ac %}<i class="fas fa-fan"></i> A/C Rooms<br>{% endif %} 
                  {% if hotel.hotel_pool %}<i class="fas fa-swimming-pool"></i> Swimming Pool<br>{% endif %} 
              </p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12">

          
   

              <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
                alt="">
          
                <p class="h5 text-center mt-4">₹{{hotel.hotel_price}}/night</p>
  
        </div>
        <!--/Grid column-->

      </div>

      <hr class="my-5">
    <center>
        {% if request.user.is_authenticated %}
        <h5 style="margin-top: 2%;"><strong>Booking Details</strong></h5>

        <form method="POST" action="{% url 'bookhotel' %}" style="margin-top: 4%;">
         {% csrf_token %}
         <div class="form-row">
         <input type="hidden" name="hotel" value="{{hotel.pk}}">
         <div class="form-group col-md-2 col-lg-3">
         <label for="numpeople">Number of People</label>
         <input type="number" min=1 class="form-control" placeholder="1, 2, 3 ..." name="num_people" required>
        </div>
        <div class="form-group col-md-2 col-lg-3">
        <label for="roomnos">Number of Rooms</label>
        <input type="number" min=1 class="form-control" placeholder="1, 2, 3 ..." name="rooms" required>
        </div>
        <div class="form-group col-md-2 col-lg-3">
         <label for="checkin">Check In:</label>
         <input type="date" class="form-control" id="check_in" name="check_in" required>
         </div>
         <div class="form-group col-md-2 col-lg-3">
         <label for="checkout">Check Out:</label>
         <input type="date" class="form-control" id="check_out" name="check_out" required>
         </div>
        </div>

          <button class="btn btn-info btn-md" style="margin-top: 3%; margin-bottom:2%">Book Now</button>
       </form>

       {% else %}
       <h5 style="margin-top: 2%; margin-bottom: 5%">Please <a href="/login/">login</a> to book hotels.</h5>
       {% endif %}
      
       <hr class="my-5">

       <h5 style="margin-top: 2%;"><strong>Reviews for {{hotel.hotel_name}}</strong></h5>
       
       {% if reviews %}

       <p><strong>{{ reviews_avg }}</strong> from <strong>{{ reviews_count }}</strong> reviews</p>

       {% for review in reviews %}
       
       <div class="card mb-5 mt-5" style="width: 80%;">
        <div class="card-body">
          <h5 class="card-title">Review by: {{review.user.first_name}}</h5>
          <p class="card-subtitle mb-2 mt-4">Rating: {{review.rate}} / 5</p>
          <p class="card-subtitle mb-2 mt-4">{{review.text}}</p>
          <p class="card-text mt-5">Posted on {{review.date}}</p>
        </div>
      </div>



       {% endfor %}


       
      {% else %}

      <h5 style="margin-top: 2%; margin-bottom: 5%">Be the first one to write a review!</h5>

      {% endif %}

       <hr class="my-5">
      
       <h5 style="margin-top: 2%; margin-bottom:2%"><strong>Write a Review</strong></h5>

      {% if request.user.is_authenticated %}

       <form method="post" action="" id="rate_form" name="rate_form" role="rate_form" style="width: 80%;">
        {% csrf_token %}
       <div class="form-group" >
         <label for="Rating">Rating:</label>
          {{ rate_form.rate }}
      </div>
      <div class="form-group">
      <label for="review">Review:</label><br>
      <textarea class="form-control" id="text" name="text" placeholder="How was your experience at {{hotel.hotel_name}}?"></textarea>
      </div>

      <button type="submit" name="action" class="btn btn-md btn-secondary">Submit</button>
    </form>

    {% else %}

    <h5 style="margin-top: 2%; margin-bottom: 5%">Please <a href="/login/">login</a> to write a review.</h5>

    {% endif %}
      </center>
</div>

</main>
{% endblock content %}
