{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'signup/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');">
					<span class="login100-form-title-1">
						Sign Up
					</span>
				</div>

				
				{% if form.errors %}
				<div class="alert alert-danger" role="alert" style="margin-top: 1%;">    
				<center>{{form.errors}}</center>
			  </div>
				{% endif %}


				<form class="login100-form validate-form" method="POST">
                    {% csrf_token %}
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						{{form.username}}
						<span class="focus-input100"></span>
					</div>


                    <div class="wrap-input100 m-b-26" >
						<span class="label-input100">First Name</span>
						{{form.first_name}}
						<span class="focus-input100"></span>
                    </div>

                    
                    <div class="wrap-input100 m-b-26" >
						<span class="label-input100">Last Name</span>
						{{form.last_name}}
						<span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 m-b-26" >
						<span class="label-input100">Email</span>
						{{form.email}}
						<span class="focus-input100"></span>
                    </div>
                    
					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						{{form.password1}}
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Confirm Password</span>
						{{form.password2}}
						<span class="focus-input100"></span>
                    </div>
                    
					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							
						</div>

						<div>
                            <a>Already have an account?
							<a href="{% url 'login' %}" class="txt1">
								<b>Login</b>
							</a></a>
						</div>
					</div>

					<div class="container-login100-form-btn" style="margin-left: 65px;">
						<button class="login100-form-btn" style="background-color: #6b5b95;">
							Sign Up
						</button>
                    </div>
                    
                        
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'signup/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'signup/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'signup/js/main.js' %}"></script>

</body>
</html>